<!DOCTYPE html>
<html lang="pl">
	<head>
	<title>Zadanie 18</title>

			<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
		<body>
	<div style="background-color: #FFFDD0; width: 30%; height: 100%;">
		<p style="color: orange; font-size: 20pt; font-family: Arial;"> P jest kolorem pomarańczowym.<br><br>
			Wielkością 20 punktów<br><br>
			Czcionką arial<br><br>
			
			Obecnie na świecie istnieją tysiące języków programowania i każdego roku powstają nowe.
		</p>
	</div> 
	
	
		<div style="background-color: #ff00ff; width: 15%; height: 80%;">
		<p style=" font-size: 20pt;">
			
			<i style="color:green">Obecnie na świecie istnieją </i><br><br>
			<s style="color:red">tysiące języków programowania i </s><br><br>
			<u style="color:purple; textdecoration: overline;">każdego roku powstają nowe.</u><br><br>
		</p>
	</div> 
	
	
			<div style="background-color: #C0D727; width: 30%; height: 100%;">
			
			<h1 style="color: #0096FF; font-size: 30pt; text-decoration: underline; ">Informacja o językach programowania</h1>
		
		<ol type=1>
		<li  style="color:#0050FF  ; font-size: 25pt;"> Obecnie na świecie istnieją </li>
		<li style="color: #ff0000; font-size: 20pt;"> tysiące języków programowania i </li>
		<li style="color: #808080; font-size: 15pt;"> każdego roku powstają nowe </li>

	</div> 
	


		</body>
</html>
<!-- Szymon Grotha -->