p#Imie
{
	text-align: right;
	color:#FF3200;
	font-size:1cm;
}
p#ak1
{
	text-align: right;
	color:#000080;
	font-size:1cm;
}
#akapit1
{
	font-size:0.8cm;
}
#akapit111
{
	font-family: serif;
	color:#EC9EC0;
	font-variant:small-caps ;
	font-weight: 500;
	font-size: small;
	text-indent:28mm;
	line-height: 2cm;
	word-spacing: 10px;
	letter-spacing: 2ex;
		text-align: right;
}

#akapit11
{
	font-family: serif;
	color:#FB4570;
	text-decoration: overline;
	font-weight: 600;
	font-size:medium;
		text-indent:28mm;
			line-height: 2cm;
	word-spacing: 10px;
	letter-spacing: 2ex;
		text-align: right;
}

#akapit12
{
	font-style:italic;
	font-family: serif;
	color:#FF0080;
	font-weight: 700;
	font-size:xx-large;
	text-transform:uppercase;
		text-indent:28mm;
			line-height: 2cm;
	word-spacing: 10px;
	letter-spacing: 2ex;
		text-align: right;
}










p#ak2
{
	text-align: right;
	color:#000080;
	font-size:1cm;
}




#akapit2
{
	font-size:0.8cm;
}

#akapit21
{
	font-family: sans-serif;
	color:#FFFF8A;
	font-variant:small-caps ;
	font-weight: 300;
	font-size: 30px;
	text-indent:3cm;
	line-height: 20mm;
	word-spacing: 10pt ;
	letter-spacing: 0.25cm ;
		text-align: center;
}

#akapit22
{
	font-family: sans-serif;
	color:#FFFF2E;
	text-decoration: line-through;
	font-weight: 600;
	font-size:0.5in;
		text-indent:3cm;
			line-height: 20mm;
	word-spacing: 10pt ;
	letter-spacing: 0.25cm ;
		text-align: center;
}

#akapit23
{
	font-style: oblique;
	font-family: sans-serif;
	color:#D1D100;
	font-weight: 800;
	font-size: 1em;
	text-transform:capitalize;
		text-indent:3cm;
			line-height: 20mm;
	word-spacing: 10pt ;
	letter-spacing: 0.25cm ;
		text-align: center;
}
<html>
	<head>
					<link rel="stylesheet" href="czcionki_grotha.css">
                    <title> Formatowanie tekstu-Grotha </title>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
		<body>
		<p id="Imie">
		Szymon Grotha 1P, układ 4
		</p>
		<p  id="ak1"> Akapit 1 - do prawej</p>
		
		
		
		<p  id="akapit1"> 1 patrz tabela „Sposób kodowania rodziny czcionek”-->serif<br><br>
		
		Patrz „pierwsza tabela kolorów” (wg numeru w dzienniku)-->Odcienie różowego<br><br>
		
		3 patrz tabela „Sposób kodowania dekoracji tekstu” jedno zdanie w tekście--> Nadkreślenie<br><br>
		
        2 patrz tabela „Sposób kodowania stylu tekstu” jedno zdanie w tekście-->italic<br><br>
		
		kapitaliki, jedno zdanie w tekście<br><br>
		
		Grubości czcionek
		<ul type=circle id="akapit1">
		<li>Jedno zdanie 500</li>
		<li>Jedno zdanie 600</li>
		<li>Jedno zdanie 700</li>
	</UL>	<p  id="akapit1">	Rozmiary czcionek
	<ul type=circle id="akapit1">
		<li>Jedno zdanie w tekście->3 czyli small</li>
		<li>Jedno zdanie w tekście->4 czyli medium</li>
		<li>Jedno zdanie w tekście->7 czyli xx-large</li>
	</UL>
		<p  id="akapit1">
		jedno zdanie w tekście ma być wyświetlane dużymi literami<br><br>
		wcięcia tekstu: 28mm<br>
		odstępy między wierszami: 2cm <br>
		odstępy między wyrazami: 10px<br>
		odstępy między literami: 2ex <br>
		==========================================================================================================================================================================================================================================================================================================================
		</p>
		
		<p  id="akapit1"> Zdanie 1. Kapitalniki, grubość czcionki 500, wielkość czcionki small
		
		</p>
			<p id="akapit111">
			
			 Framework – gotowy szkielet, który umożliwia szybsze stworzenie
aplikacji, poprzez rozbudowywanie jej i dostosowywanie do wymagań
klienta.</p>
<p  id="akapit1">	============================================================================================================================================================================================================================================================================================================================================================================
<br> Zdanie 2. Nadkreślenie, grubość czcionki 600, wielkość czcionki medium</p>
	
		<p id="akapit11">	FTP Skrót od File Transfer Protocol – metoda wymiany
plików z jednego komputera na drugi. </p>
	<p  id="akapit1">	=======================================================================================================================================================================================================================================================================================
	Zdanie 3. Duże litery, styl czcionki italic, grubość czcionki 700, wielkość czcionki xx-large </p>
	
	<p id="akapit12">
			ASCII (American Standard Code for Information Interchange) –
7-bitowy kod liczbowy przyporządkowujący liczbom
z zakresu 0-127 określone znaki.	
			</p>
			
			<p  id="akapit1">	=====================================================================================================================================================================================================================================================================
			</p>
			
			
			<p  id="ak2"> Akapit 2 - centrowany</p>
			<p id="akapit2">
			
					<p  id="akapit2"> 2 patrz tabela „Sposób kodowania rodziny czcionek”-->sans-serif<br><br>
					
		Patrz „pierwsza tabela kolorów” (wg numeru w dzienniku)-->Odcienie zółtego<br><br>
		
		2 patrz tabela „Sposób kodowania dekoracji tekstu” jedno zdanie w tekście--> Przekreślenie<br><br>
		
        3 patrz tabela „Sposób kodowania stylu tekstu” jedno zdanie w tekście-->oblique<br><br>
		
		kapitaliki, jedno zdanie w tekście<br><br>
		
		Grubości czcionek
		<ul type=circle id="akapit2">
		<li>Jedno zdanie 300</li>
		<li>Jedno zdanie 600</li>
		<li>Jedno zdanie 800</li>
	</UL>	<p  id="akapit2">	Rozmiary czcionek
	<ul type=circle id="akapit2">
		<li>Jedno zdanie w tekście wybierz
i wpisz sam ->30px</li>
		<li>Jedno zdanie w tekście wybierz
i wpisz sam ->0.5in</li>
		<li>Jedno zdanie w tekście wybierz
i wpisz sam ->1em</li>
	</UL>
		<p  id="akapit2">
		jedno zdanie w tekście ma być
wyświetlane w taki sposób, aby
każde nowe słowo zaczynało się z
dużej litery<br><br>
		wcięcia tekstu: 3cm<br>
		odstępy między wierszami: 20mm <br>
		odstępy między wyrazami: 10pt <br>
		odstępy między literami: 0,25cm <br>
		==========================================================================================================================================================================================================================================================================================================================
		Zdanie 1. Kapitalniki, grubość czcionki 300, wielkość czcionki 30px
		<br>
		
		</p>
			<p id="akapit21">
			Aplikacje dedykowane – to oprogramowanie na zamówienie przygotowane specjalnie dla potrzeb konkretnego zastosowania.
			
			</p>
		<p  id="akapit2">	==========================================================================================================================================================================================================================================================================================================================
Zdanie 2. Przekreślenie, grubość czcionki 600, wielkość czcionki 0.5in
<br></p>


			<p id="akapit22">	
Host jest to urządzenie posiadające adres IP, które jest źródłem, albo adresatem danych przesyłanych przez sieć, czyli odbiera dane od innych urządzeń lub też takie dane wysyła.


			</p>
		<p  id="akapit2">==========================================================================================================================================================================================================================================================================================================================		
			Zdanie 3. Wyrazy od dużych liter, grubość czcionki 800, wielkość czcionki 1em, styl czcionki oblique
			<br>
			<p id="akapit23">		
			
			cache - wydzielona część pamięci operacyjnej komputera służąca do przechowywania najczęściej używanych danych, co pozwala przyspieszyć działanie programów 
			</p>
			
			
	</body>
</html>